<div class="row">
  <div class="col-12 mt-3">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>SrNo</th>
        <th>Full name</th>
        <th>Email</th>
        <th>ContactNo</th>
        <th>Id</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let emp of employeeArr; let i= index">
        <td>{{i + 1}}</td>
        <td>{{emp.fullName}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.contactNo}}</td>
        <td>{{emp.id}}</td>
        <td> <div>
          <i class="fa fa-pencil-square-o mr-2"></i>
          <i class="fa fa-trash"></i>
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-12 d-flex justify-content-center mt-3">
    <pagination [totalItems]="employeeArr.length" (pageChanged)="pageChanged($event)" [maxSize]="4"></pagination>
  </div>
</div>

