<div class="row">
  <div class="col-lg-3 col-sm-6 col-md-4" *ngFor="let employee of returnedArray">
    <div class="card employee-card mt-5">
      <i class="fa fa-user mt-2" aria-hidden="true" style="font-size: 72px;"></i>
      <div class="card-body">
        <h4 class="card-title mb-0">{{employee.fullName}}</h4>
        <p class="card-text mb-0">{{employee.email}}</p>
        <p class="card-text mb-0">{{employee.contactNo}}</p>
        <div>
          <i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-12 d-flex justify-content-center mt-3">
    <pagination [totalItems]="employeeArr.length" (pageChanged)="pageChanged($event)" [maxSize]="4"></pagination>
  </div>
</div>

